:root {
    --primary: #ff414d;
    --secondary: white;
    --blog-bg: #f0f4f7;
}

/* !header */
.img-main {
    background-image: url("/images/header-pic.webp");
    background-size: 100% 100%;
    height: 800px;
}

/* /header */

/* !main */

/* !card */
.crd-tp {
    margin-top: -80px;
}

.card-hight {
    width: 200px;
}

.card:hover {
    background: var(--primary) !important;
    color: black !important;
}

.food-drink {
    width: 40px;
    font-size: 40px;
    color: var(--primary) !important;
}

#hotel {
    background: var(--primary);
    color: var(--secondary) !important;
}

#hotel:hover {
    background: var(--primary) !important;
}

.fa-hotel {
    color: var(--secondary) !important;
}

.sp-text {
    background: var(--secondary) !important;
    color: #ff414d;
}

.card:hover span {
    background: var(--secondary) !important;
    color: var(--primary) !important;
}

/* /card */

/* !papular cards */

.c-box {
    width: 288px;
}

.card-box-hight {
    height: 190px;
}

.c-box:hover {
    background: var(--secondary) !important;
    color: black !important;
}

.hunger-box {
    width: 70px;
    height: 70px;
    font-size: 40px;
    background-color: #ff414d !important;
    color: var(--secondary) !important;
    border-radius: 50%;
}

.heart-fa {
    background-color: lightgray !important;
    border-radius: 50%;
    color: var(--primary) !important;
    width: 25px;
    height: 25px;
    padding: 4px;
    margin: auto;
}

.heart-fa:hover {
    background: var(--primary) !important;
    border-radius: 50%;
    color: var(--secondary) !important;
}

/* /papular cards */

/* !card image with content */
.special-offer {
    margin-top: 20px;
}

/* /card image with content */

/* !about company client */
.about {
    width: 9rem;
}

.card-about-company {
    background-color: rgb(0 0 0 / 3%) !important;
}

.card-about-company:hover {
    background-color: rgb(0 0 0 / 3%) !important;
}

/* /about company client */

/* !testimonial */
#card-robert:hover {
    background: var(--secondary) !important;
}

#market-manager:hover {
    background: var(--secondary) !important;
}

#market-head:hover {
    background: var(--secondary) !important;
}

.fa-quote-left {
    width: 30px;
    height: 30px;
}

.img-robert-scott {
    border-radius: 100%;
    width: 60px;
    object-fit: fill;
}

/* /testimonial */

/* !img with card */
.find-out {
    background-image: url("/images/dark-img.webp");
    height: 600px;
}

.pic-mm {
    margin-top: -230px;
}

.blog-our {
    background: var(--blog-bg) !important;
}

.blog-our:hover {
    background: var(--blog-bg) !important;
}

/* /img with card */

/* !our blog */

.card-h {
    background-color: var(--secondary) !important;
}

.card-h:hover {
    background: var(--secondary) !important;
    color: black !important;
}

.card-h {
    height: auto;
}

/* /our blog */

.card:hover .food-drink {
    background: var(--primary) !important;
    color: var(--secondary) !important;
}

.pic-h {
    height: 200px;
}

/* /our blog */

/* /main */

/* !footer */
.footer-main {
    background-color: #10151c !important;
}

.fut-col:hover {
    color: var(--primary) !important;
}

.f-about:hover {
    color: var(--primary) !important;
}

/* /footer */